html{
    font-family: Montserrat,sans-serif;
}
header{
    position: absolute;
    width: 1366px;
    height: 650px;
    left: 0px;
    top: 0px;
    
    background: url('img/photo1.jpg');
}
.logo{
    margin-top: 35px;
    margin-left: 103px;
}
nav{
    color:white;
    position: absolute;
    left: 669px;
    top: 48px;
}
.navigation{
    color:white;
    text-decoration: none;
}
span{
    width: 129px;
    height: 12px;
    margin-left: 33px;
}
h1{
    position: absolute;
width: 636px;
height: 39px;
left: 198px;
top: 283px;

font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 66px;
display: flex;
align-items: center;

color: #F9FBFD;

}
.header_p{
    position: absolute;
width: 430px;
height: 15px;
left: 198px;
top: 360px;

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #F9FBFD;
}
.h2_description{
    position: absolute;
width: 430px;
height: 21px;
left: 103px;
top: 836px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 42px;
display: flex;
align-items: center;

color: #011C40;

}
.p_description{
    position: absolute;
    width: 512px;
    height: 108px;
    left: 103px;
    top: 897px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    
    color: #011C40;
}
.image_1{
    position: absolute;
width: 560px;
height: 301px;
left: 703px;
top: 770px;
}
.advantages{
    position: absolute;
width: 1366px;
height: 562px;
left: 0px;
top: 1191px;

background: url(photo3.jpg), #E3ECF6;
}
.description_of_advantages{
position: absolute;
width: 228px;
height: 21px;
left: 569px;
top: 0px;
margin-top: 120px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 150%;
display: flex;
align-items: center;

color: #011C40;
}
.container_1{
    margin-top: 201px;
    margin-left: 103px;
    width: 360px;
    height: 241px;
    background-color: #F9FBFD;
}
.vector{
    margin: 30px 30px;
    width: 27px;
    height: 32px;
}
.h3_small_ship{
    position: absolute;
    width: 288px;
    height: 13px;
    left: 133px;
    top: 288px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #011C40;
}
.p_small_ship{
    position: absolute;
width: 288px;
height: 71px;
left: 133px;
margin-top: 50px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
display: flex;
align-items: center;
color: #011C40;
}
.container_2{
    position: absolute;
    width: 360px;
    height: 241px;
    left: 503px;
    top: 201px;
    
    background: #F9FBFD;
}
.h3_all_included{
    position: absolute;
    width: 242px;
    height: 13px;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    
    color: #011C40;
}
.p_all_included{
    position: absolute;
    width: 280px;
    height: 71px;
    top: 120px;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    
    color: #011C40;
    
}
.vector_3{
    margin: 30px 38px;
    width: 42px;
    height: 15px;
}
.container_3{
    position: absolute;
    width: 360px;
    height: 241px;
    left: 903px;
    top: 201px;
    background: #F9FBFD;
}
.h3_zodiac{
    position: absolute;
    width: 300px;
    height:13px;
    margin-top: 25px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    
    color: #011C40;
}
.p_zodiac{
    position: absolute;
    width: 280px;
    height: 71px;
    top: 130px;
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    
    color: #011C40;
    
}
.vector_2{
    margin: 30px 35px;
    width: 38px;
    height: 21px;
}