html{
    font-family: Montserrat,sans-serif;
}
header{
    position: absolute;
    width: 1366px;
    height: 650px;
    left: 0px;
    top: 0px;
    
    background: url('img/photo1.jpg');
}
.logo{
    margin-top: 35px;
    margin-left: 103px;
}
nav{
    color:white;
    position: absolute;
    left: 669px;
    top: 48px;
}
.navigation{
    color:white;
    text-decoration: none;
}
span{
    width: 129px;
    height: 12px;
    margin-left: 33px;
}
h1{
    position: absolute;
width: 636px;
height: 39px;
left: 198px;
top: 283px;

font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 66px;
display: flex;
align-items: center;

color: #F9FBFD;

}
.header_p{
    position: absolute;
width: 430px;
height: 15px;
left: 198px;
top: 360px;

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #F9FBFD;
}